<div class="table">
    <table ng-table="table.tableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="user in table.data">
            <td title="'Title'">
                <a href="" ng-click="table.getEnrollmentInformation(user.htmlKey, user.nbr)"> {{ user.title }} </a>
            </td>
            <td title="'Class ID'"> {{ user.nbr }} </td>
            <td title="'Time'"> {{ user.time }} </td>
            <td title="'Room'"> {{ user.room }} </td>
            <td title="'Instructor'"> {{ user.instr }} </td>
            <td title="'Status'"> {{ user.status }} </td>
        </tr>
    </table>
</div>